<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgHo4kmscAXJ6KK3Evvmx_iWjbn8Ydtak</string>
	<key>GCM_SENDER_ID</key>
	<string>986922884830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marioapps.jewelry-identifier</string>
	<key>PROJECT_ID</key>
	<string>jewelry-identifier-jewels</string>
	<key>STORAGE_BUCKET</key>
	<string>jewelry-identifier-jewels.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986922884830:ios:b3ba6e6fcf8d727da16c4f</string>
</dict>
</plist>